<mat-toolbar>
    <span>
        <mat-icon>account_circle</mat-icon>
        Clientes
    </span>
</mat-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
        <mat-card-title>Clientes</mat-card-title>
        <mat-card>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Primeiro Nome: </mat-label>
                    <input [(ngModel)]="customer.firstNameCustomer" name="firstNameCustomer"
                        [formControl]="firstNameCustomer" type="text" matInput placeholder="Digite seu primeiro nome" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Último Nome: </mat-label>
                    <input [(ngModel)]="customer.lastNameCustomer" name="lastNameCustomer"
                        [formControl]="lastNameCustomer" type="text" matInput placeholder="Digite seu último nome" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>CPF: </mat-label>
                    <input (blur)="verificaCpf()" [(ngModel)]="customer.cpfCustomer" name="cpfCustomer"
                        [formControl]="cpfCustomer" mask="000.000.000-00" required matInput
                        placeholder="Digite seu cpf Ex..000.000.000-00" mask="000.000.000-00" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Data de Nascimento: </mat-label>
                    <input [(ngModel)]="customer.birthdateCustomer" name="birthdateCustomer"
                        [formControl]="birthdateCustomer" required type="date" matInput
                        placeholder="Digite sua data de nascimento" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Renda Mensal: R$ </mat-label>
                    <input [(ngModel)]="customer.monthlyIncomeCustomer" name="monthlyIncomeCustomer"
                        [formControl]="monthlyIncomeCustomer" type="text" mask="separator.2" thousandSeparator="."
                        matInput placeholder="Digite sua renda mensal (R$)" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email: </mat-label>
                    <input [(ngModel)]="customer.emailCustomer" name="emailCustomer" [formControl]="emailCustomer"
                        type="email" matInput placeholder="Digite seu email" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Senha: </mat-label>
                    <input [(ngModel)]="customer.passwordCustomer" name="passwordCustomer"
                        [formControl]="passwordCustomer" type="password" matInput placeholder="Digite sua senha" />
                </mat-form-field>
                <button (click)="createCustomer()" [disabled]="!validaCampos()" mat-raised-button
                    color="primary">Salvar</button>
                <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button
                    color="warn">Cancelar</button>
                <br />
            </form>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Listar
        </ng-template>
        <mat-card-title>Listagem de Clientes</mat-card-title>
        <mat-card>
                <table mat-table [dataSource]="dataSource" class="full-width" matTableResponsive>
                    <ng-container matColumnDef="idCustomer">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.idCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="firstNameCustomer">
                        <th mat-header-cell *matHeaderCellDef> Primeiro Nome </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.firstNameCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="lastNameCustomer">
                        <th mat-header-cell *matHeaderCellDef> Último Nome </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.lastNameCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="cpfCustomer">
                        <th mat-header-cell *matHeaderCellDef> CPF </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.cpfCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="birthdateCustomer">
                        <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.birthdateCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="dateCreatedCustomer">
                        <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.dateCreatedCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="monthlyIncomeCustomer">
                        <th mat-header-cell *matHeaderCellDef> Renda Mensal (R$) </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.monthlyIncomeCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="emailCustomer">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.emailCustomer }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="statusCustomer">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let customer"> {{ customer.statusCustomer }} </td>
                    </ng-container>

                    <ng-container matColumnDef="deleteCustomer">
                        <th mat-header-cell *matHeaderCellDef> Deletar  </th>                        
                        <td mat-cell  *matCellDef="let customer"> 
                            <button (click)="deleteCustomer(customer)">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>    
                <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
                </mat-paginator>
        </mat-card>
    </mat-tab>
</mat-tab-group>